<a href="https://colab.research.google.com/github/hickstech/python_bootcamp/blob/main/week_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

response = requests.get('https://uselessfacts.jsph.pl/random.json?language=en')

print(response.text)

{"id":"b0b763a6-9ade-4f72-8f79-114e6df14e50","text":"All 50 states are listed across the top of the Lincoln Memorial on the back of the $5 bill.","source":"djtech.net","source_url":"http:\/\/www.djtech.net\/humor\/useless_facts.htm","language":"en","permalink":"https:\/\/uselessfacts.jsph.pl\/b0b763a6-9ade-4f72-8f79-114e6df14e50"}

In [ ]:
import requests

query_params={
    'language':'en'
}

response = requests.get('https://uselessfacts.jsph.pl/random.json', params=query_params)

print(response.json().get('text'))

Daffy Duck`s middle name is "Dumas"

# Data Structures
The important ones are lists, dictionaries, and sets.

In [ ]:
data = ['Brad', 'You']
print(data[0])
data.append('Jimmy')

data.append(['hello'])
data.append(5)

print(data)

Brad
['Brad', 'You', 'Jimmy', ['hello'], 5]

# List Slicing
first number = starting position (inclusive).  
second number - stopping position (exclusive).  
third number - step.

In [ ]:
data = ['Brad', 'Jimmy', 'Samantha', 'Monica']

data[1:4:2]

['Jimmy', 'Monica']

#Dictionaries and Sets

In [ ]:
data = {'Brad', 'Jimmy', 'Samantha', 'Monica', 'Brad'}

print(data)

{'Jimmy', 'Brad', 'Samantha', 'Monica'}

# Control flow - loops and conditionals

Iteration - One time through the loop.

In [ ]:
data = ['a', 'b', 'c', 'd', 'e']

for i in range(10):
  print(i, end=" ")

print("")
for letter in data:
  print(letter, end=" ")

print("")
for i, letter in enumerate(data):
  print(i, letter, end=" ")

0 1 2 3 4 5 6 7 8 9
a b c d e
0 a 1 b 2 c 3 d 4 e

In [ ]:
data = ['a', 'b', 'c', 'd', 'e']

i = 0

while i < len(data):
  print(data[i], end=" ")
  i += 1

while True:
  x = input()
  if x == "stop":
    break
  elif x == "special":
    continue
    
  print("it wasnt stop or special")  
  print("printing data...")

a b c d e hello
it wasnt stop or special
printing data...
special
stop

In [ ]:
data_dictionary = {
    'Brad': 5,
    'Jimmy': 10,
    'Samantha': 12,
    'Monica': 20, 
    'Brad': 4
}

for key, value in data_dictionary.items():
  print(key, value)

Brad 4
Jimmy 10
we found 12

# Guessing game
Generate a random number -- random module

do while - Python doesn't have this built in.
do something once -- possibly repeat it.
Ask us for a number. If we get it wrong, ask again.

logic for right / wrong: guessed == correct value

In [ ]:
from random import randint
low = 0
high = 100
correct = randint(low, high)
print(f'Guess a number between {low} and {high}.')

while True:
  # Type cast
  guess = int(input())
  if guess < correct:
    print("Guess higher")
  elif guess > correct:
    print("Guess lower")
  else:
    print("You win!")
    break

Guess a number between 0 and 100.
5
Guess higher
25
Guess higher
50
Guess higher
80
Guess higher
90
Guess lower
85
Guess lower
84
You win!